<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Пользователь</title>
</head>

<body>

<nav class="navbar navbar-dark sticky-top bg-dark text-white">
    <span class="navbar-text" id="head"></span>
    <span class="navbar-text justify-content-end">
        <a class="nav-link" href="/logout">Logout</a>
    </span>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-2 pl-md-0 pt-md-3">
            <div class="nav flex-column nav-pills pt-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" href="api/admin/users" sec:authorize="hasRole('ROLE_ADMIN')"
                   aria-controls="v-pills-home" aria-selected="false">Admin</a>
                <a class="nav-link active" href="/api/users" sec:authorize="(hasAnyRole('ROLE_USER','ROLE_ADMIN'))"
                   role="tab"
                   aria-controls="v-pills-profile" aria-selected="true">User</a>
            </div>
        </div>

        <div class="col-10 pt-md-3">
            <div class="container-fluid">
                <h1>User information-page</h1>
                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <div class="card">
                            <div class="card-header">
                                <h4>About user</h4>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Roles</th>
                                    </tr>
                                    <tbody id="User">
                                    <!-- user.js -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



<script type="text/javascript" src="../static/user.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>