<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>

<table border="1" cellpadding="7">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>
    <td th:utext="${user.getId()}">id</td>
    <td th:utext="${user.getName()}">name</td>
    <td th:utext="${user.getLast_name()}">lastname</td>
    <td th:utext="${user.getAge()}">age</td>
    <td th:utext="${user.getEmail()}">email</td>
</table>
<br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">Logout</button>



</body>
</html>